<hr />
@{
    ViewBag.Title = "Visión y Mision";
}
<h2>@ViewBag.Title.</h2>
<p>
    <h3>Visión</h3>
   <h5>
       Ser reconocidos en el ámbito de salud por nuestro prestigio, trayectoria y vocación de servicio, orientados a nuestros pacientes, clientes y colaboradores.    
    </h5> 
    <h3>Misión</h3>
    <h5>Brindar servicios de salud confiables y seguros a nuestra comunidad orientándonos permanentemente hacia la excelencia..</h5>

</p>
